* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #001747;
}

body,
html,
main {
    height: 100%;
}

body {
    background-color: #090153;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: white;
}


.container_login {
    display: flex;
    justify-content: center;

}

.container_form {
    width: 400px;
    height: 400px;
    background-color: #ebebeb;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 8px 8px 10px rgba(0, 0, 32, .5);
}

.imagem_porta {
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 8px 8px 10px rgba(0, 0, 32, .5);
}

form {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h2 {
    font-size: 30px;
}

input {
    width: 95%;
    height: 40px;
    border-radius: 30px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .2);
    color: #001747;
    border: 1px solid rgba(0, 0, 0, .3);
}

input:focus {
    outline: 3px solid #437af3;
}

button {
    width: 95%;
    height: 40px;
    border-radius: 30px;
    padding-left: 10px;
    background-color: #437af3;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}

button:hover {
    background-color: #034ae4;
}

.erro {
    color: red;
}

.mensagemDeErro {
    color: red;
    display: none;
}

@media (max-width:800px) {
    .imagem_porta {
        display: none;
    }
  }

